.color1 {
  background-color: #152848;
  color: white
}

.color1b {
  background-color: white;
  color: #152848;
}

.color2 {
  color:#0090d3;
}

.color3 {
  background-color: #0090d3;
  color: white
}

a {
  color: #152848
}

.color3:hover {
  color: #152848
}